.archivo-ime {
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 650;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
html{
    background-color: #f7f7f5fa;
}

body{
    margin: 0;
    padding: 0;
    background-color: #fff;
    max-width: 980px;
    margin: auto;
}
header{
    height: 90px;
    background-color: #003a5a;
    font-family: ffmark, "Helvetica Neue", helvetica, arial, sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
}
#logo{
    width: 20%;
    margin: 15px 30px;
}
nav{
    background-color: #064b71;
    font-family: "Archivo", sans-serif;
    font-weight: 700;
    font-size: 10pt;
    margin-top: -5px;
}
header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 0;
    padding-left: 10px;
}
header nav ul li {
    margin: 15px 0px;
    text-align: center;
}
header nav ul a {
    margin: 0 1%;
    text-decoration: none;
    color: #fff;
}
main{
    margin-top: 10px;
    padding: 20px;
}
main h1{
    font-family: "Archivo", sans-serif;
    font-weight: 800;
    margin-top: 30px;
}
h2{
    font-family: "Archivo", sans-serif;
    font-weight: 700;
}
h6{
    margin-bottom: 5px;
    margin-top: 10px;
}
.bottom {
    position: absolute;
    bottom: 0;
    height: 15px;
}
h6{
    font-family: "Archivo", sans-serif;
    font-weight: 100;
}
.clanakslika{
    width: 100%;
}
#hjedan{
    font-family: "Archivo", sans-serif;
    font-weight: 800;
    margin-top: 30px;
}
.test {
    width: 100%;
    height: 100%;
    text-decoration: none;
    overflow: hidden;
    color: black;
}
.container {
    display: flex;
    position: relative;
    justify-content: space-around;
    flex-wrap: wrap;
}
.column {
    border-bottom: 1px solid #ededed;
    padding: 5px;
    padding-bottom: 20px;
    width: 30%;
}
.column p{
    font-family: "Archivo", sans-serif;
    font-weight: 300;
    line-height: 1.5;
}
.column2 {
    border-bottom: 0;
    padding: 5px;
    padding-bottom: 20px;
    width: 30%;
}
.column2 p{
    font-family: "Archivo", sans-serif;
    font-weight: 300;
    line-height: 1.5;
}
.containerpod{
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerpod h2{
    text-align: center;
}
.columnpod {
    flex: 0 1 auto;
    width: 90%;
}
.columnpod h6{
    margin-left: 18%;
    padding-bottom: 15px;
}
.columnpod p{
    font-family: "Archivo", sans-serif;
    font-weight: 300;
    line-height: 1.5;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 1.8;
}
footer{
    height: 90px;
    background-color: #003a5a;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer img{
    display: inline-block;
    width: 15%;
}

form {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form textarea,
form select,
form input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form input[type="checkbox"] {
    margin-bottom: 20px;
}

form button {
    background-color: #064b71;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #003a5a;
}
#kazpri{
    width: 30%;
    display: inline;
}

table {
    font-family: Arial, sans-serif;
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    min-width: 400px;
}

table thead tr {
    background-color: #064b71;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

table th, table td {
    padding: 12px 15px;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #064b71;
}


@media (max-width: 910px) {
    .container{
        justify-content: center;
        align-items: center;
   }
    .column {
        flex: 0 1 100%;
        width: 90%;
        border-bottom: 0;
   }
    .container2{
        justify-content: center;
        align-items: center;
   }
    .column2 {
        flex: 0 1 100%;
        width: 90%;
   }
   .bottom {
    display: none;
    
    
}
}
